# =========================================================
# ROS 2[cite: 2]
# =========================================================
**/build/
**/install/
**/log/

# =========================================================
# Python[cite: 2]
# =========================================================
__pycache__/
*.py[cod]
*.so

# Entornos virtuales[cite: 2]
.venv/
venv/
env/

# =========================================================
# Firmware / ESP32-S3 (PlatformIO)
# =========================================================
.pio/

# =========================================================
# Jupyter[cite: 2]
# =========================================================
.ipynb_checkpoints/

# =========================================================
# MATLAB[cite: 2]
# =========================================================
*.asv
*.m~
slprj/
*.slxc

# =========================================================
# VS Code[cite: 2]
# =========================================================
.vscode/

# =========================================================
# Sistema operativo[cite: 2]
# =========================================================
.DS_Store
Thumbs.db

# =========================================================
# Archivos temporales y logs[cite: 2]
# =========================================================
*.tmp
*.temp
*.swp
*~
*.log
